/* body {
  margin: 0;
  padding: 0;
  background-color: lightgray;
  box-sizing: border-box;
  overflow-x: hidden;
  -webkit-animation: anim 8s infinite;
  -o-animation: anim 8s infinite;
  -i-animation: anim 8s infinite;
  -moz-animation: anim 8s infinite;
  animation: anim 8s infinite;
} */

body {
  margin: 0;
  padding: 0;
  background: url('../images/1.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  overflow-x: hidden;
  -webkit-animation: anim 8s infinite;
  -o-animation: anim 8s infinite;
  -i-animation: anim 8s infinite;
  -moz-animation: anim 8s infinite;
  animation: anim 8s infinite;
}

#content {
  width: 60%;
  height: auto;
  margin: auto;
  padding: 25px;
  display: flex;
  background-color: white;
  flex-wrap: wrap;
  margin-top: 5%;
}
.box1 {
  width: 40%;
  height: auto;
  margin: 10px;
  padding: 25px;
  background-color: black;
}

.box2 {
  width: 40%;
  height: auto;
  margin: 10px;
  padding: 25px;
  background-color:#daa520;
}

/* applied animation using keyframes */

/* @keyframes anim {
  from {
    margin: 0;
    padding: 0;
    background-color: yellow;
  }
  to {
    margin: 0;
    padding: 0;
    background-color: coral;
  }
} */

/* @keyframes anim {
  0% {
    margin: 0;
    padding: 0;
    background-color: yellow;
  }
  20% {
    margin: 0;
    padding: 0;
    background-color: coral;
  }

  40% {
    margin: 0;
    padding: 0;
    background-color: lightseagreen;
  }

  60% {
    margin: 0;
    padding: 0;
    background-color: blue;
  }
  80% {
    margin: 0;
    padding: 0;
    background-color: black;
  }
  100% {
    margin: 0;
    padding: 0;
    background-color: goldenrod;
  }
} */

@keyframes anim {
  0% {
    margin: 0;
    padding: 0;
    background: url('../images/1.jpg') no-repeat;
    background-size: cover;
    background-position: center;
  }
  20% {
    margin: 0;
    padding: 0;
    background: url('../images/2.avif') no-repeat;
    background-size: cover;
    background-position: center;
  }

  40% {
    margin: 0;
    padding: 0;
    background: url('../images/3.gif') no-repeat;
    background-size: cover;
    background-position: center;
  }

  60% {
    margin: 0;
    padding: 0;
    background: url('../images/4.png') no-repeat;
    background-size: cover;
    background-position: center;
  }
  80% {
    margin: 0;
    padding: 0;
    background: url('../images/5.png') no-repeat;
    background-size: cover;
    background-position: center;
  }
  100% {
    margin: 0;
    padding: 0;
    background: url('../images/6.jpg') no-repeat;
    background-size: cover;
    background-position: center;
  }
}